{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'infobase' %}
{% block title %}Tag: {{ tag.name }} - Infobase{% endblock %}

{% block body %}
<h2>Infobase</h2>

<div class="row">
    <div class="large-4 columns">
        {{ render(controller('ActsCamdramInfobaseBundle:Article:sideBar')) }}
    </div>
    <div class="large-8 columns">
        <h2>{{ tag.name }}</h2>

        {% for article in tag.articles %}
        <div class="panel">
        <h3><a href="{{ path("get_article", {slug: article.slug})}}">{{ article.name }}</a></h3>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
