{% extends 'ActsCamdramInfobaseBundle::layout.html.twig' %}

{% block title %}Tag: {{ tag.name }} - Infobase{% endblock %}

{% block infobase_body %}

    <h3>Tag: {{ tag.name }}</h3>

    {% for article in tag.articles %}
    <div class="panel">
        <h5><a href="{{ path("get_article", {slug: article.slug})}}">{{ article.name }}</a></h5>
        <p>{{ article.body | strip_camdram_markdown | truncate(200) }}</p>
        <p class="text-right">
            <a href="{{ path("get_article", {slug: article.slug})}}">Read more</a>
        </p>
    </div>
    {% endfor %}

{% endblock %}
