{% extends 'ActsCamdramInfobaseBundle::layout.html.twig' %}

{% block title %}{{ article.name }} - Infobase{% endblock %}

{% block infobase_body %}

    <h2>{{ article.name }}</h2>

    <ul class="inline-list">
        <li class="inline-list-label">Tags:</li>
        {% for tag in article.tags %}
            <li><a href="{{ path("get_tag", {slug: tag.slug}) }}" class="tag-bubble">
                {{ tag.name }}
            </a></li>
        {% endfor %}
    </ul>

    <p>
        <ul class="inline-list right">
            {{ include('@ActsCamdram/Navigation/nav-item.html.twig',
                {item: {id: 'edit_article', path: path('edit_article',{slug:article.slug}), icon: 'pencil', text: 'Edit Article'} }) }}
        </ul>
        <em>Last edited by
        {% if article.updatedBy.person %}
            <a href="{{ path('get_person', {identifier: article.updatedBy.person.slug})}}">
            {{ article.updatedBy.name }}
            </a>
        {% else %}
            {{ article.updatedBy.name }}
        {% endif %}
        on {{ article.updatedAt | date('j F Y \a\t H:i:s') }}</em>
    </p>

    <div class="panel">
    {{ article.body | camdram_markdown }}
    </div>

{% endblock %}
